<link rel="stylesheet" href="styles/controls.css">
<div class="controls">
  <label>top center
    <input name="top_center" type="range" min="0" max="3.14" step="0.01"  value="1.57"/>
  </label>
  <label>top range
    <input name="top_range" type="range" min="0" max="1.57" step="0.01"  value="0.77"/>
  </label>
  <label>bottom center
    <input name="bottom_center" type="range" min="0.87" max="1.5" step="0.01"  value="0.87"/>
  </label>
  <label>bottom range
    <input name="bottom_range" type="range" min="0" max="1.5" step="0.01"  value="0.87"/>
  </label>
  <label>bottom phase offset
    <input name="bottom_phase" type="range" min="0" max="3" step="0.01"  value="1.5"/>
  </label>
</div>
